/* tag generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearflix::after{
    content: none;
    display: table;
    clear: both;
}

.sx{
    float: left;
}

.dx{
    float: right;
}

ul{
    list-style-type: none;
}

.blu{
    height: 50%;
    width: auto;
    padding: 10px 15px;
    background-color: #0061ff;
    color: white;
    font-family: 'Open sans';
    cursor: pointer;
    margin: 20px;
    line-height: 22px;
    font-size: 18px;
}

/* tag nav */

nav{
    height: 90px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    margin-top: -90px;
}

#logo{
    margin: 25px 35px;
    height: 30%;
    width: 10%;
    float: left;
    background-image: url(../img/logo-small.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.menu{
    height: 100%;
    width: auto;
}

.menu li{
    color: #0c0c0c;
    font-family: 'Open sans';
    padding: 31px 20px;
    display: inline-block;
    line-height: 120%;
    font-size: 18px;
}

.menu a{
    text-decoration: none;
    color: #0c0c0c;
    font-weight: bold;
}

/* tag header */

header{
    background-color: #b4d0e7;
    height: 85vh;
    width: 100vw;
    margin-top: 90px;
}


#testo{
    border: 1px soldi black;
    height: 300px;
    width: 100%;
    font-size: 100px;
    font-weight: bolder;
    font-family: sans-serif;
    padding-top: 50px;
}

header p{
    text-align: left;
}

.container_first{
    padding: 0 7%;
}

#jumbotron_head{
    height:65.2%;
    width: 100%;
}

#jumbotron_text{
    height: 100%;
    width: 35%;
    float: left;
    padding-top: 30px;
}

#jumbotron_text p{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;
    margin-top: 20px;
}

#jumbotron_text .blu{
    margin: 0;
}

#jumbotron_img{
    height: 100%;
    width: 65%;
    float: right;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 50px -120px 0 0;
}

#freccia, #freccia a{
    font-size: 50px;
    text-decoration: none;
    color: black ;
}


/* tag main */

main{
    width: 100%;
    height: auto;
}

.container_second{
    padding: 0 10%;
}

#subscription{
    background-color: brown;
    width: 100%;
    height: 150vh;
}

#contact{
    margin: 70px 0;
    background-color: chartreuse;
    width: 100%;
    height: 105vh;
}

#strumenti{
    background-color: darkorchid;
    width: 100%;
    height: 150vh ;
}

article{
    background-color:gold;
    width: 100%;
    height: 35vh;
    margin-top: 150px;
}

#cit{
    background-color: mediumblue;
    width: 100%;
    height: 70vh;
}

#gratis{
    background-color: #b4d0e7;
    width: 100%;
    height: 30vh;
}

#info{
    background-color: peru;
    width: 100%;
    height: 80vh;
}

/* tag footer */

footer{
    background-color: black;
    width: 100%;
    height: 50vh;
    color: white;
}