/* tag generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearflix::after{
    content: none;
    display: table;
    clear: both;
}

.sx{
    float: left;
}

.dx{
    float: right;
}

ul{
    list-style-type: none;
}

.blu{
    height: 50%;
    width: auto;
    padding: 10px 15px;
    background-color: #0061ff;
    color: white;
    font-family: 'Open sans';
    cursor: pointer;
    margin: 20px;
    line-height: 22px;
    font-size: 18px;
}

/* tag nav */

nav{
    height: 90px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    margin-top: -90px;
}

#logo{
    margin: 25px 35px;
    height: 30%;
    width: 10%;
    float: left;
    background-image: url(../img/logo-small.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.menu{
    height: 100%;
    width: auto;
}

.menu li{
    color: #0c0c0c;
    font-family: 'Open sans';
    padding: 31px 20px;
    display: inline-block;
    line-height: 120%;
    font-size: 18px;
}

.menu a{
    text-decoration: none;
    color: #0c0c0c;
    font-weight: bold;
}

/* tag header */

header{
    background-color: #b4d0e7;
    height: 85vh;
    width: 100vw;
    margin-top: 90px;
}


#testo{
    width: 100%;
    font-size: 100px;
    font-weight: bolder;
    font-family: sans-serif;
    padding-top: 50px;
}

header p{
    text-align: left;
}

.container_first{
    padding: 0 7%;
}

#jumbotron_head{
    height:65.2%;
    width: 100%;
}

#jumbotron_text{
    height: 100%;
    width: 35%;
    float: left;
    padding-top: 30px;
}

#jumbotron_text p{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;
    margin-top: 20px;
}

#jumbotron_text .blu{
    margin: 0;
}

#jumbotron_img{
    height: 100%;
    width: 65%;
    float: right;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 50px -120px 0 0;
}

#freccia, #freccia a{
    font-size: 50px;
    text-decoration: none;
    color: black ;
}


/* tag main */

main{
    width: 100%;
    height: auto;
}

.container_second{
    padding: 0 15%;
}

/* tag subcription */

#subscription{
    width: 100%;
    height: 150vh;
}

#subscription p{
    padding: 120px 0 50px 0;
    height: auto;
    font-size: 50px;
    font-weight: bolder;
    font-family: sans-serif;
}

#tabelle{
    margin-top: 30px;
    height: 81%;
}

.table_3{
    border: 1px solid black;
    max-width: 100%;
    height: 100%;
    width: calc(92% / 3);
    float: left;
    font-family: sans-serif;

}

.center{
    margin: auto 50px;
}

.table_3 > .far{
    font-size: 25px;
    margin: 20px 150px;
    color: #242424;
}

.container_table{
    margin: 30px 30px;
}

h2{
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.textbolder{
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

.periodo{
    font-family: sans-serif;
    color: #647482;
    margin-bottom: 50px;
    display: block;
}

.container_table li{
    margin: 20px 0;
    font-weight: bold ;
}

.container_table > .blu{
    margin-left: 37px;
    padding: 15px 37px;
}

.container_table ul{
    margin-bottom: 70px;
}

.link{
    margin: 50px 0;
    font-family: sans-serif;
}

.link hr{
    margin-top: 40px;
    border: 1px solid #f5f5f6;
    width: 20%;
}

.fa-check, .link a:visited{
    color: #0c69ff;
}
/* contact */

#contact{
    margin: 70px 0;
    width: 100%;
    height: 105vh;
}

.table{
    border: 1px solid black;
    width: 100%;
    height: 30%;
    margin-bottom: 150px;
}

.titolo{
    border-bottom: 1px solid black;
    width: 100%;
    height: 20%;
}

.titolo .fa-building{
    line-height: 230%;
    text-align: center;
    margin-left: 630px;
    font-size: 25px;
}

.enterprise-sx{
    float: left;
    height: 204px;
    width: auto;
}

.enterprise-sx > .textbolder{
    margin-bottom: 60px;
}

.enterprise-dx .blu{
    margin-left: 130px;
    padding: 10px 75px;
}

.partner{
    width: 100%;
    height: 600px;
}

.partner > .container_table{
    margin-top: 50px
}

.partner .container_table h2{
    margin-bottom: 50px;
    padding-top: 50px;
}

.partner .container_table p{
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 50px;
}

.partner .container_table > .blu{
    color: black;
    background-color: #fff;
    border: 1px solid black;
    margin-left: 0;
    padding: 10px;
}

#people{
    float: left;
    width: 60%;
    height: 100%;
    background-image: url(../img/partner.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* strumenti */

#strumenti{
    width: 100%;
    height: 150vh;
    padding-top: 60px;
}

#strumenti h1{
    font-size:50px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.divisione{
    width: 100%;
    height: 500px;
}

.img_text{
    width: 424px;
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
}

.divisione .img{
    background-repeat: no-repeat;
    background-size: contain;
}

#img1{
    background-image: url(../img/business-feature-switching-tools.png);
}

#img2{
    background-image: url(../img/business-feature-coordinate-it.png);
}

#img3{
    background-image: url(../img/business-feature-multi-device.png);
}

#img4{
    background-image: url(../img/business-feature-integrations-it.png);
}

#img5{
    background-image: url(../img/business-feature-send-files-it.png);
}

#img6{
    background-image: url(../img/business-feature-security.png);
}

.text_img{
    margin-top: 350px;
    font-size: 18px;
}

article{
    background-color:gold;
    width: 100%;
    height: 35vh;
    margin-top: 150px;
}

/* cit */

#cit{
    background-color: mediumblue;
    width: 100%;
    height: 70vh;
}

/* gratis */

.gratis{
    background-color: #b4d0e7;
    width: 100%;
    height: 30vh;
}

/* info */

#info{
    background-color: peru;
    width: 100%;
    height: 80vh;
}

/* tag footer */

footer{
    background-color: black;
    width: 100%;
    height: 50vh;
    color: white;
}